<ion-view view-title="发布活动">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
      <a class="button button-icon" href="#/tab/activities">
      	取消
      </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a class="button button-large" href="#/tab/activities">
      	发布活动
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="padding">
    <ion-list>
      <ion-item>
        <p>
          编辑
        </p>
      </ion-item>
      <ion-item>
        <button class="button button-positive" ng-click="showActionSheet()">ActionSheet</button>
      </ion-item>
      <ion-item>
        <button class="button button-positive" ng-click="showPopup()">Popup</button> 
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
