<style type="text/css">
  
.slide-intro {
    height:100%;
    text-align:center;
}

.slider{
  height:100%;
}

.scroll{
  height:100%;
}

</style>
<ion-view>
  <ion-content>
    <ion-slide-box show-pager="true" auto-play="true" >
      <ion-slide>
        <div class="slide-intro box positive-bg">first</div>
      </ion-slide>
      <ion-slide>
        <div class="slide-intro box energized-bg">second</div>
      </ion-slide>
      <ion-slide>
        <div class="slide-intro box balanced-bg">
          <div class="row row-bottom">
          <button ng-click="startApp()" class="button button-positive">马上出发</button>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
