<ion-view view-title="活动">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-search" menu-toggle="right">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item class="item-icon-right" ng-repeat="activity in activities" href="#/tab/activities/{{activity.id}}">
        <div>{{activity.title}}</div>
        <div>{{activity.username}}</div>
        <div>{{activity.status}}</div>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll on-infinite="doLoadMore()">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>