<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->>
<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{true:'tabs-hide',false:'tabs-show'}[isDetail]">

  <!-- Activities Tab -->
  <ion-tab title="活动" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/activities">
    <ion-nav-view name="tab-activities"></ion-nav-view>
  </ion-tab>
  
  <!-- Friends Tab -->
  <ion-tab title="游记" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/memos">
      <ion-nav-view name="tab-memos"></ion-nav-view>
  </ion-tab>
  
    <ion-tab class="tab-add" title="添加" icon="ion-plus-circled" ng-click="showMenu()">
  </ion-tab>
  
  <!-- Memos Tab -->
  <ion-tab title="朋友" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
      <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>
  
  <!-- Account Tab -->
  <ion-tab title="我的" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
</ion-tabs>