/* Empty. Add your own CSS if you like */
.tab-add {
	background-color: #ccc;
}

/* popover view opacity should be 1*/
.tool-add {
	top:50%;
	left: 58%;
	height: 130px;
	width: 150px;
	opacity: 1;
}

.tool-add-item a{
	text-align: center;
	padding: 10px 10px !important;
}

.tabs-hide .tabs{
	display: none;
}

.tabs-show .tabs{
	display: '';
}

.no-footer{
	bottom: 0px;
}